<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>演库-查看公告的报名用户列表</title>
    <link rel="stylesheet" href="dist/styles/normalize.css"/>
    <link rel="stylesheet" href="dist/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="dist/styles/head.min.css"/>
    <link rel="stylesheet" href="dist/styles/alerts.min.css"/>
    <style>
        html,
        body {
            height: 100%;
        }

        html {
            overflow: hidden;
        }

        body {
            overflow: auto;
            width: calc(100vw + 20px);
        }
    </style>
</head>
<body>
<div class="zblist" id="Bjregistrationnotice">
    <p class="rec_pa">查看公告的报名用户列表</p>

    <form action="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>用户Id</th>
                <th>用户头像</th>
                <th>用户姓名</th>
                <th>用户昵称</th>
                <th>手机</th>
                <th>报名数量</th>
                <th>未受理数量</th>
                <th>受邀数量</th>
                <th>赴约数量</th>
                <th>负约数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="list in listTo">
                <td>{{list.user_id}}</td>
                <td><img :src="list.user_img" alt="" width="25" height="25"/></td>
                <td>{{list.realname}}</td>
                <td>{{list.nickname}}</td>
                <td>{{list.mobile}}</td>
                <td>{{list.enroll_num}}</td>
                <td>{{list.neglect}}</td>
                <td>{{list.invite_num}}</td>
                <td>{{list.attend_num}}</td>
                <td>{{list.break_num}}</td>
                <td><a href="javascript:;" :id="list.user_id" @click="edita($event)">查看报名所有通告</a></td>
            </tr>

            </tbody>
        </table>
    </form>
    <div class="page-bar">
        <ul>
            <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
            <li v-if="cur==1"><a class="banclick">上一页</a></li>
            <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                <a v-on:click="btnClick(index)">{{ index }}</a>
            </li>
            <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
            <li v-if="cur == all"><a class="banclick">下一页</a></li>
            <li><a>共<i>{{all}}</i>页</a></li>
        </ul>
    </div>
</div>
<p class="alerta"></p>
<script type="text/javascript" src="dist/scripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="dist/scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="dist/scripts/config.js"></script>
<script type="text/javascript" src="dist/scripts/vue.js"></script>
<script type="text/javascript" src="dist/scripts/vue-resource-0.7.0.js"></script>
<script type="text/javascript" src="dist/scripts/announcement/Bjregistrationnotice1.js"></script>
</body>
</html>