<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>演库-消费记录</title>
    <link rel="stylesheet" href="dist/styles/normalize.css"/>
    <link rel="stylesheet" href="dist/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="dist/styles/head.min.css"/>
    <link rel="stylesheet" href="dist/styles/expensecalendar.min.css"/>
</head>
<body>
<div class="expensecalendar" id="expensecalendar">
    <p class="rec_pa">消费记录</p>
    <div class="expensecalendar_main">
        <!--<div class="user_kuai">-->
            <!--<p class="user_pa">收支类型：</p>-->
            <!--<select class="form-control">-->
                <!--<option>全部</option>-->
                <!--<option>收入</option>-->
                <!--<option>支出</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="user_kuai">-->
            <!--<p class="user_pa">收支行为：</p>-->
            <!--<select class="form-control">-->
                <!--<option>全部</option>-->
                <!--<option>赠送礼物</option>-->
                <!--<option>弹幕</option>-->
                <!--<option>登陆奖励</option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="user_kuai1">
            <p class="user_pb">赠送时间：</p>
            <input class="form-control"  type="text" id="J-xl">
            <p class="user_pc">—</p>
            <input class="form-control"  type="text" id="J-x2">
        </div>
        <div class="form-group">
            <p class="form-control-static">主播：</p>
            <input type="text" class="form-control" id="inputPassword2" placeholder="请输入主播ID值.." v-model="searchKey">
        </div>
        <button type="submit" class="btn btn-default" @click="soso()">搜索</button>

    </div>
    <form action="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>会员ID</th>
                <th>会员昵称</th>
                <!--<th>收支类型</th>-->
                <!--<th>收支行为</th>-->
                <th>主播ID</th>
                <th>主播</th>
                <th>礼物{ID}</th>
                <th>礼物数量</th>
                <th>礼物价格</th>
                <th>礼物总价</th>

                <th>赠送时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="listTo in list">
                    <td>{{listTo.from_user_id}}</td>
                    <td>{{listTo.to_user_name}}</td>
                    <td>{{listTo.to_user_id}}</td>
                    <td>{{listTo.to_user_name}}</td>
                    <td>{{listTo.gift_type}}</td>
                    <td>{{listTo.number}}</td>
                    <td>{{listTo.gift_price}}</td>
                    <td>{{listTo.total_price}}</td>
                    <td>{{listTo.pay_time}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="page-bar">
        <ul>
            <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
            <li v-if="cur==1"><a class="banclick">上一页</a></li>
            <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                <a v-on:click="btnClick(index)">{{ index }}</a>
            </li>
            <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
            <li v-if="cur == all"><a class="banclick">下一页</a></li>
            <li><a>共<i>{{all}}</i>页</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="laydate.dev.js"></script>
<script type="text/javascript" src="dist/scripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="dist/scripts/config.js"></script>
<script type="text/javascript" src="dist/scripts/vue.js"></script>
<script type="text/javascript" src="dist/scripts/vue-resource-0.7.0.js"></script>
<script type="text/javascript" src="dist/scripts/finance/expensecalendar.js"></script>
<script type="text/javascript">
    laydate({
        elem: '#J-xl'
    });
    laydate({
        elem: '#J-x2'
    });

</script>
</body>
</html>