<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>演库-身份认证-详情</title>
    <link rel="stylesheet" href="dist/styles/normalize.css"/>
    <link rel="stylesheet" href="dist/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="dist/styles/head.min.css"/>
    <link rel="stylesheet" href="dist/styles/identityeditor.min.css"/>
</head>
<body>
    <div class="Identityeditor" id="Identityeditor">
        <form class="form-inline">
            <div class="form-group">
                <label for="member">会员</label>
                <input type="text" class="form-control" id="member" disabled  :placeholder="res.nickname">
                <span>*</span>
            </div>
            <div class="form-group">
                <label for="Name">真实姓名</label>
                <input type="email" class="form-control" id="Name" disabled :placeholder="res.realname">
                <span>*</span>
            </div>
            <div class="form-group">
                <label for="cellphone">手机号码</label>
                <input type="email" class="form-control" id="cellphone" disabled :placeholder="res.mobile">
                <span>*</span>
            </div>
            <div class="form-group">
                <label for="Documenttype">证件类型</label>
                <input type="email" class="form-control" id="Documenttype"  disabled placeholder="身份证">
                <span>*</span>
            </div>
            <div class="form-group">
                <label for="Idno">证件号</label>
                <input type="email" class="form-control" id="Idno" disabled :placeholder="res.IDcard_number">
                <span>*</span>
            </div>
            <!--<div class="form-groups">-->
                <!--<label >证件正面</label>-->
                <!--<img src="http://livecdn.yunbaozhibo.com/rz_59118c8139731.JPG" alt=""/>-->
                <!--<span>*</span>-->
            <!--</div>-->
            <!--<div class="form-groups">-->
                <!--<label >证件反面</label>-->
                <!--<img src="http://livecdn.yunbaozhibo.com/rz_59118c8b09783.JPG" alt=""/>-->
                <!--<span>*</span>-->
            <!--</div>-->
            <div class="form-groups">
                <label >手持证件照</label>
                <img :src="res.user_positive" alt=""/>
                <span>*</span>
            </div>
            <div class="boxToa" v-show="status">
                <div class="form-groups" >
                    <label >审核状态</label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions"  value="3" v-model="statusa"> 失败
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions"  checked  value="1"  v-model="statusa"> 处理中
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" value="2" v-model="statusa"> 成功
                    </label>
                </div>
                <div class="form-groups">
                    <label >失败原因</label>
                    <textarea class="form-control" rows="3" :value="res.reason" v-model="text"></textarea>
                    <span>*</span>
                </div>
                <div class="btns">
                    <button type="button" class="btn btn-info" @click="Identityeditor()">提交</button>
                </div>
            </div>
        </form>

    </div>
    <p class="alerta"></p>
    <script type="text/javascript" src="dist/scripts/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="dist/scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="dist/scripts/config.js"></script>
    <script type="text/javascript" src="dist/scripts/vue.js"></script>
    <script type="text/javascript" src="dist/scripts/vue-resource-0.7.0.js"></script>
    <script type="text/javascript" src="dist/scripts/userGroup/identityeditor.js"></script>
</body>
</html>